#cmake stuff
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile

#anything we make
bin/
build/
build2/
build*/
lib/
*.so
*.exe
*.dll
*.o
*.class
*.jar
*.js

#GNOME backup files
~*.*

#logs
*.log

#OS generated stuff
ehthumbs.db
Thumbs.db

glm/
